nextflow.enable.dsl=2

includeConfig 'config/cluster.config'
includeConfig 'config/software.config'
includeConfig 'config/database.config'
includeConfig 'config/barcode.config'

params {
  fastq = null
  reference = null
  threads = 3
  chunk_size = 1000000
  input="sample.xls"
  out_dir = "./"
  chunk_size = 1000000
  dep_png_bin_size = 10000
  anno_analysys = false
  manual = false               // 是否手动模式
  csv = null                   // CSV 文件路径（批量模式）
  project_id = null            // 单样本模式下的 project_id
  sample_name = null           // 单样本模式下的 sample_name
  fastq_path = null            // 单样本模式下的 fastq_path
  barcode = null               // 单样本模式下的 barcode
  species_name = null          // 单样本模式下的 species_name
  genome_size = null           // 单样本模式下的 genome_size
  sample_id = null
  report_path = null
}


// includeConfig "config/${params.genome}.config"
nextflow.enable.configProcessNamesValidation = false
def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.out_dir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.out_dir}/pipeline_info/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.out_dir}/pipeline_info/execution_trace_${trace_timestamp}.txt"
}


// timeline {
//   enabled = true
//   file = "${params.out_dir}/execution/timeline.html"
//   overwrite = true
// }
// report {
//   enabled = true
//   file = "${params.out_dir}/execution/report.html"
//   overwrite = true
// }
// trace {
//   enabled = true
//   file = "${params.out_dir}/execution/trace.txt"
//   overwrite = true
// }

tower {
    enabled = false
    accessToken = "x"
    endpoint = "http://192.168.100.99:3000/api"
    workspaceId = "2"
}

plugins {
    id 'nf-tower@1.9.2'
}


manifest {
    author = 'Lei Zhao'
    description = "bacteria_assembly: ${params.project_id}"
    mainScript = 'main.nf'
    nextflowVersion = '>=24.04.4'
    version = '1.3'
}