profiles {
  sge{
    process {
    executor = 'sge'
    clusterOptions = '-C -cwd -S /bin/bash -l vf=1G -q all.q -pe smp 1'
    }
  }


  local{
    process {
    executor = 'local'
    cpus   = 1
    memory = "1G"
    
    withLabel: small          { cpus = 1; memory = "1G" }
    withLabel: medium         { cpus = 2; memory = "2G" }
    withLabel: 'bigmem'       { cpus = 4; memory = "8G" }
    }
  }


  singularity {
    singularity {
    enabled = true
    autoMounts = true
    registry = "hub.rat.dev"
    }
    process {
    // default container for all processes
      container = "file:///share/public/pipeline/SS/Images/Singularity/wes:1.6.img"
    // custom containers 
      withLabel: 'custom' { container = "file:///share/public/pipeline/SS/Images/Singularity/wes:1.6.img" }
    }
  }

  docker {
    docker {
    enabled = true
    autoMounts = true
    registry = "hub.rat.dev"
    runOptions = '-u $(id -u):$(id -g)'
    }
    process {
    // default container for all processes
    container = "docker-daemon://wes:1.6"
    // custom containers 
    withLabel: 'custom' { container = "docker-daemon://wes:1.6" }
    }
  }
}


