nextflow.enable.dsl=2

/*
========================================================================================
    Nextflow config file for running hg19 AgilentV6 genome
========================================================================================
    Defines input files and everything required to run a basic pipeline.

    Use as follows:
       nextflow run main.nf -profile hg19_AgilentV6_changping,<docker/singularity>,<local,sge>

----------------------------------------------------------------------------------------
*/

params {
    database {
        kraken2_db     =  "/bioinformation/huyifan/database/Kraken2_Bracken/PlusPF"
        bakata_db      =  "/nas02/project/zhaolei/database/bakta/db/db"
        ossconfig_bj   =  "/nas02/project/zhaolei/database/ossutilconfig-bj"
        nr             =  "/nas02/project/zhaolei/database/NR/nr_diamond_db/nr.dmnd"
        GO             =  "/nas02/project/zhaolei/database/GO/terms.json"
        cog_def        =  "/nas02/project/zhaolei/database/COG/COG2024/cog-24.def.tab"
        cog_fun        =  "/nas02/project/zhaolei/database/COG/COG2024/cog-24.fun.tab"
        
    }
}
