nextflow.enable.dsl=2

/*
========================================================================================
    Nextflow config file for running hg19 AgilentV6 genome
========================================================================================
    Defines input files and everything required to run a basic pipeline.

    Use as follows:
       nextflow run main.nf -profile hg19_AgilentV6_changping,<docker/singularity>,<local,sge>

----------------------------------------------------------------------------------------
*/

params {
    database {
        kraken2_db     =  "/bioinformation/huyifan/database/Kraken2_Bracken/PlusPF"
        bakata_db      =  "/nas02/project/zhaolei/database/bakta/db/db"
        ossconfig_bj   =  "/nas02/project/zhaolei/database/ossutilconfig-bj"
    }
}
