nextflow.enable.dsl=2

params {
    software {
        nanostat         = "/data/software/NanoStat"
        fastcat          = "/data/zwx/miniconda/bin/fastcat"
        ont_barcoder     = "/nas02/software/dorado/dorado_server_7.3.9/ont-dorado-server/bin/ont_barcoder"
        zcat             = "/usr/bin/zcat"
        filtlong         = "/nas02/project/zhaolei/software/conda/conda_env/bininfo/bin/filtlong"
        fastplong        = "/nas02/software/fastplong_v0.2.2/fastplong"
        nanoplot         = "/data/software/miniconda/bin/NanoPlot"
        kraken2          = "/data/software/kraken2/kraken2"
        bracken          = "/data/software/Bracken/bracken"
        csvtk            = "/data/software/csvtk"
        flye             = "/data/software/miniconda/bin/flye"
        bgzip            = "/data/software/bgzip"
        seqtk            = "/nas02/software/seqtk"
        samtools         = "/data/software/samtools"
        faidx            = "/nas02/project/zhaolei/software/conda/conda_env/bininfo/bin/faidx"
        bedtools         = "/nas02/software/bedtools2/bin/bedtools"
        assembly_stats   = "/nas02/project/zhaolei/software/conda/conda_env/bininfo/bin/assembly-stats"
        zip              = "/usr/bin/zip"
        stringtie        = "/nas02/project/huyifan/software/rnaseq/v1.0/bin/stringtie"
        scriptDir        = "${projectDir}/scripts/"
        softdir          = "/nas02/project/huyifan/software/rnaseq/v1.0/bin/"
        activate         = "/nas02/software/conda/Miniconda3/miniconda3/bin/activate"
        conda            = "/nas02/software/conda/Miniconda3/miniconda3/bin/conda"
        env              = "/nas02/project/huyifan/software/rnaseq/v1.0/"
        seqkit           = "/nas02/software/seqkit/v2.8.2/seqkit"
        bamCoverage      = "/nas02/project/huyifan/software/rnaseq/v1.0/bin/bamCoverage"
        bedGraphToBigWig = "/nas02/software/ucsc_tools/bedGraphToBigWig"
        featureCounts    = "/nas02/project/huyifan/software/rnaseq/v1.0/bin/featureCounts"
		rscript          = "/nas02/software/R/R4.3.2/bin/Rscript"
        picard           = "/nas02/project/huyifan/software/rnaseq/v1.0/bin/picard"
        diamond          = "/nas02/project/zhaolei/software/conda/conda_env/bininfo/bin/diamond"
        
       
    }
}




